html {
  background-color: rgba(64,84,75,0.6);
  font-family: Verdana, Geneva, sans-serif;
}

a {
  text-decoration: none;
}

div { position: relative; }

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  overflow: hidden;
  background-color: #40544B;
  z-index: 1000;
}

.brand {
  float: left;
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  border-radius: 10px;
  background-color: rgba(64, 84, 75, .5)
}

.brand a {
  font-weight: 600;
  -webkit-text-stroke: 1px black;
  color: #FDDA94;
}

.brand a:visited { color: #FDDA94; }

.brand a:hover { color: #EB6C44; }

.navbar {
  float: right;
  top: 25px;
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(64, 84, 75, .5)
}

.nav_btn {
  margin: 20px;
  font-size: 20px;
  display: inline;
}

.nav_btn a {
  font-weight: 600;
  -webkit-text-stroke: 0.5px black;
  color: #FDDA94;
  text-shadow:
    0.5px 0.5px 0 #000,
    -0.5px -0.5px 0 #000,  
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.nav_btn a:visited { color: #FDDA94; }

.nav_btn a:hover { color: #EB6C44; }

.nav_btn a.current { color: #EB6C44; }

#jumbotron {
  position: relative;
  top: 100px;
  left: 0px;
}

#jumbotron img { max-width: 100%; }

#container {
  top: 75px;
  display: inline;
  padding: 10px;
  padding-bottom: 20px;
  margin: 10px;
  margin-bottom: 45px;
}

#container img {
  float: right;
  padding: 10px;
  margin: 10px;
  margin-top: 2px;
  margin-bottom: 0px;
}

#container p {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 20px;
}

#footer {
  position: fixed;
  clear: both;
  bottom: 0px;
  left: 0px;
  height: 35px;
  width: 100%;
  background-color: #40544B;
  text-align: center;
  padding-top: 10px;
}

.foot_btn {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
  color: #FDDA94;
}

.foot_btn p { display: inline; }

.foot_btn a { color: #FDDA94; }

.foot_btn a:visited { color: #FDDA94; }

.foot_btn a:hover { color: #EB6C44; }
